@import '../../styles/colors';

.projects-title {
  margin: 1rem 0 0 1rem;
  font-size: 0.7rem;
}

.project {
  border-radius: 1.2rem;
  line-height: 1.5rem;
  padding: 1rem;
  min-width: 11rem;
  margin: 1rem 0.05rem 1rem 0.5rem;
  
  -webkit-box-shadow: -3px 24px 15px -13px rgba(8,23,94,0.44);
  -moz-box-shadow: -3px 24px 15px -13px rgba(8,23,94,0.44);
  box-shadow: -3px 24px 15px -13px rgba(8,23,94,0.44);
  
  background-color:$primary-color;
}

.project-color-default {
  margin-top: 1rem;
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  box-shadow:
    0 0 1px 0.5px $secondary-color, 
    0 0 2px 1px $project-one-color,
    0 0 8px 1px $project-one-color;
}

.project-number {
  font-size: 0.6rem;
}

.projects {
  padding-bottom: 1rem;
  scrollbar-width: none;
  overflow-y: hidden;
  -ms-overflow-style: none; 
}
.projects::-webkit-scrollbar {
  display: none;
}