@import '../../styles/colors';

.todo-form-container {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.233);
}

#todo-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 1.3rem 0.5rem 1.3rem 0.2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  background-color: $primary-color;
}

.form-segment {
  
  margin: 0.5rem auto;

  input,
  select {
    background-color: $white-gray;
    border: $project-three-color solid 0.5px;
    padding: 0.6rem;
    border-radius: 0.3rem;
  }

  input[type="date"] {
    width: 11.5rem;
  }

  label {
    color:white;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    display: block;
  }

  button {
    background-color: $project-three-color;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 2rem;
    min-width: 6rem;
    margin: 0.2rem;
  }

  #cancel-button {
    background-color: transparent;
    border: solid $white-gray 1px;
    border-radius: 2rem;
  }

}