@import '../../styles/colors';

.todo-form-container {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 0, 0, 0.233);
}

#todo-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 1.3rem 0.5rem 1.3rem 0.2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  background-color: $primary-color;
}

.form-segment {
  
  margin: 0.5rem auto;

  input,
  select,
  textarea {
    background-color: transparent;
    color: white;
    border: $project-three-color solid 0.5px;
    padding: 0.6rem;
    border-radius: 0.6rem;
  }

  input[type="date"] {
    width: 11.5rem;
  }

  label {
    color:white;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    display: block;
  }

  button {
    background-color: $project-three-color;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 2rem;
    min-width: 6rem;
    margin: 0.2rem;
    outline: none;
    
    &:hover {
      background-color:darken($project-three-color, 10%) ;
    }
  
    &:active {
      transform: scale(1.1);
    }
  }
    
}




.errors {
  text-align: center;
  color: red;
  padding: 1rem;
}

.form-title {
  text-align: center;
  margin: 1rem;
}

.project-segment {
  border: $white-gray 0.5px solid;
  padding: 1rem;
  border-radius: 1rem;
}

.project-form-container {
  top: 0;
  background-color: #00000017;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  .project-form {
    max-width: 20rem;
    margin: 9rem auto;
    padding: 1rem;
    background-color: $secondary-color;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    .project-input-container {
      margin: 0.5rem;
    }
    button {
      background-color: $project-one-color;
      color: white;
      border: none;
      padding: 0.7rem;
      border-radius: 2rem;
      min-width: 6rem;
      margin: 0.2rem;
      outline: none;
      
      &:hover {
        background-color:darken($project-one-color, 10%) ;
      }
    
      &:active {
        transform: scale(1.1);
      }
    }
    input[type="text"]  {
      background-color: white;
      border: $project-one-color solid 0.5px;
      padding: 0.6rem;
      border-radius: 0.6rem;
      ::placeholder {
        color: white;
      }
      :-ms-input-placeholder {
        color: white;
      }
      ::-ms-input-placeholder {
        color: white;
      }
    }
  }
}

#cancel-button, 
#cancel-project-button {
  background-color: transparent;
  border: solid $white-gray 1px;
  border-radius: 2rem;
}