$primary-color: #041955;
$secondary-color: #3450a1;
$priority-one-color: #3450a1;
$priority-two-color: #1d6ae0;
$project-one-color: #d01de0;
$project-two-color: #1da2e0;
$project-three-color: #1de078;
$white-gray: #a8c0d49d;
