@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: $secondary-color;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.nav-icon {
  margin: 0.7rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: $white-gray;
}
.gray-color {
  color: $white-gray;
}
.d-flex {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.ml-auto {
  margin-left: auto;
}

.mt-1{
  margin-top: 1rem;
}
.main-container {
  h1 {
    font-size: 1.4rem;
    margin: 1rem;
  }
}

.left-aside {
  
}

.aside-container {
  display: block;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(29, 29, 29, 0.315);
  width: 100vw;
  height: 100vh;
}