@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: $secondary-color;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.nav-icon {
  margin: 0.7rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: $white-gray;
}
.gray-color {
  color: $white-gray;
}
.d-flex {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.ml-auto {
  margin-left: auto;
}

.mt-1{
  margin-top: 1rem;
}
.main-container {
  h1 {
    font-size: 1.4rem;
    margin: 1rem;
  }
}

.left-aside {
  position: relative;
  padding: 1.5rem;
  border-radius: 0 1.2rem 1.2rem 0;
  background-color: $primary-color;
  max-width: 12rem;
  height: 100vh;
  h2 {
    margin: 1rem 0 1rem 0;
    line-height: 2rem;
  }
}

.aside-container {
  display: none;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(29, 29, 29, 0.315);
  width: 100vw;
  height: 100vh;
}

.top-left-button {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.1rem;
  background-color: transparent;
  color: white;
  border: $white-gray solid 1px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.projects-button {
  background-color: transparent;
  color: $white-gray;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.photo-container {
  margin: 2rem;
  padding: 0.2rem;
  border: $project-one-color solid 2px;
  border-radius: 6rem;
}
.photo-bg {
  background-color: $white-gray;
  border-radius: 5rem;
  padding: 0.5rem;
}

.aside-menu {
  margin-top: 2rem;
}
