@import '../../styles/colors';

.todo-container {
  margin: 0 1rem;
  h2 {
    font-size: 0.8rem;
    color: $white-gray;
    margin-bottom: 1rem;
  }
}

.todo {
  position: relative;
  overflow: hidden;
  font-size: 0.8rem;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0  0 0.4rem 0;
}
.checkbox {
  margin-right: 1rem;
  margin-left: 2px;
  margin-top: 2px;
  opacity: 0;
}

.checkbox-container {
  position: relative;
}

.checkbox-circle {
  background-color: $primary-color;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1.1rem;
}

.priority-color-3 {
  background-color: green;
}

.priority-color-2 {
  background-color: orange;
}

.priority-color-1 {
  background-color: red;
}
.priority-color-container {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 4rem;
}
.delete-todo-icon {
  font-size: 1.3rem;
  margin-right: 0.7rem;
  margin-left: 0.5rem;
}

.todo-title {
  overflow: hidden;
  max-width: 7rem;
}
.todo-details {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(25, 26, 92, 0.281);
  margin: -0.7rem 1rem 0.5rem;
}

.todo-description {
  text-align: justify;
}

.edit-container {
  margin-bottom: 1rem;
}

.editable-content {
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: $primary-color 1px solid;
  background-color: transparent;
}